@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<head>
    API Engineering & Cloud Computing
    <br />
    Centennial College - Fall 2017
    <br />
    Professor: 	Li, Jasmine
    <br />
</head>

<address>
    <br />
    <br />
    <strong>Developer:</strong> <a href="mailto:rluizjr@gmail.com">Renato Luiz Carneiro Junior (300923805)</a><br />
    <strong>Developer:</strong> <a href="mailto:jaimeacmottasoftware@gmail.com">Jaime AC Motta (300920604)</a>
</address>
